<!DOCTYPE html>

<html>
  <head>
    <title>fakeYouTube</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/staticFYT/buttons.css">
    <link rel="stylesheet" href="../../../static/staticFYT/style.css">
    <link href="../../../static/assets/favicon.ico" rel="icon">
    <style></style>
  </head>
  <body>
    <div class="box-up"><input class="Search-bar" type="text" placeholder="Search"></div>
    <div class="box-left"></div>
      <div class="grid">
        <div class="video-box">
          <img class="thumbnail center" src="../../../static/staticFYT/assets/images/hq720.jpg">
          <div class="video-box-data center video-grid">
            <div class="video-box-avatar">
            <img class="avatar" src="../../../static/staticFYT/assets/images/av1.jpeg"> 
            </div>
            <div class="video-box-text">
              <p class="video-title center">
                Talking Tech and AI with Google CEO Sundar Pichai!
              </p>
              <p class="video-data center text-bot">
                Marques Brownlee  &#10003;
              </p>
              <p class="video-data center text-bot">
                3.4M views <strong> &#183;</strong> 6 months ago
              </p>
              </div>
              <!-- <div class="dropdown"> -->
                  <div class="dropdown-btn-background">
                    <button class="video-box-button">&#183;&#183;&#183;</button>
                    <div class="dropdown-content">
                      <p>Option 1</p>
                    </div>
                  </div> 
              <!-- </div> -->
            </div>
          </div>


        <div class="video-box">
          <img class="thumbnail center" src="../../../static/staticFYT/assets/images/tn2.jpg">
          <div class="video-box-data center">
            <div class="video-box-avatar">
            <img class="avatar" src="../../../static/staticFYT/assets/images/av2.jpg"> 
            </div>
            <div class="video-box-text">
              <p class="video-title center">
                Wombat try kill my familly!
              </p>
              <p class="video-data center text-bot">
                Marques Brownlee  &#10003;
              </p>
              <p class="video-data center text-bot">
                3.4M views <strong> &#183;</strong> 6 months ago
              </p>
            </div>
          </div>
        </div>
      
        <div class="video-box">
          <img class="thumbnail center" src="../../../static/staticFYT/assets/images/tn2.jpg">
          <div class="video-box-data center">
            <div class="video-box-avatar">
            <img class="avatar" src="../../../static/staticFYT/assets/images/av2.jpg"> 
            </div>
            <div class="video-box-text">
              <p class="video-title center">
                Wombat try kill my familly!
              </p>
              <p class="video-data center text-bot">
                Marques Brownlee  &#10003;
              </p>
              <p class="video-data center text-bot">
                3.4M views <strong> &#183;</strong> 6 months ago
              </p>
            </div>
          </div>
        </div>

        <div class="video-box">
          <img class="thumbnail center" src="../../../static/staticFYT/assets/images/tn2.jpg">
          <div class="video-box-data center">
            <div class="video-box-avatar">
            <img class="avatar" src="../../../static/staticFYT/assets/images/av2.jpg"> 
            </div>
            <div class="video-box-text">
              <p class="video-title center">
                Wombat try kill my familly!
              </p>
              <p class="video-data center text-bot">
                Marques Brownlee  &#10003;
              </p>
              <p class="video-data center text-bot">
                3.4M views <strong> &#183;</strong> 6 months ago
              </p>
            </div>
          </div>
        </div>

        <div class="video-box">
          <img class="thumbnail center" src="../../../static/staticFYT/assets/images/tn2.jpg">
          <div class="video-box-data center">
            <div class="video-box-avatar">
            <img class="avatar" src="../../../static/staticFYT/assets/images/av2.jpg"> 
            </div>
            <div class="video-box-text">
              <p class="video-title center">
                Wombat try kill my familly!
              </p>
              <p class="video-data center text-bot">
                Marques Brownlee  &#10003;
              </p>
              <p class="video-data center text-bot">
                3.4M views <strong> &#183;</strong> 6 months ago
              </p>
            </div>
          </div>
        </div>

        <div class="video-box">
          <img class="thumbnail center" src="../../../static/staticFYT/assets/images/tn2.jpg">
          <div class="video-box-data center">
            <div class="video-box-avatar">
            <img class="avatar" src="../../../static/staticFYT/assets/images/av2.jpg"> 
            </div>
            <div class="video-box-text">
              <p class="video-title center">
                Wombat try kill my familly!
              </p>
              <p class="video-data center text-bot">
                Marques Brownlee  &#10003;
              </p>
              <p class="video-data center text-bot">
                3.4M views <strong> &#183;</strong> 6 months ago
              </p>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
